@import url("global.css");
.main{
   margin: auto;
   width: 95%;
}
.main-card{
    /* height: 755px; */
    max-width: 355px;
    background-color: #F3F3F3;
    margin: auto;
    border-radius: 15px;
    margin-bottom: 20px;
}

.main-card-img__bg1{
    background-image: url('../images/Bg-x.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 290px;
    border-radius: 12px;
    text-align: center;

}

.title{
    margin-top: 133px;
    width: 60%;
}

.main-card-img__bg2{
    background-image: url('../images/Bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 290px;
    border-radius: 12px;
}

.main-card-img__bg3{
    background-image: url('../images/Bg-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 290px;
    border-radius: 12px;
}

.main-card__info{
    padding: 25px 10px;
    text-align: start;
}

.main-card__footer{
    margin-top: 15px;
}

@media screen and (min-width: 900px) {
    .main{
        text-align: center;
     } 
    .main-card:nth-child(2){
        margin: 0 20px;
    }
    .main-card{
        width: 30%;
        display: inline-block;
    }
}